{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Log-in{% endblock %}

{% block content %}
<h1>Log-in</h1>
{% if form.errors %}
  <p class="alert alert-warning" role="alert">Your username and password didn't match. Please try again.</p>
{% else %}
  <p class="alert alert-info" role="alert">
    Please, use the following form to log-in. If you don't have an account
    <a class="btn btn-primary" href="{% url "register" %}">register here</a>
  </p>
{% endif %}

<div class="login-form">
  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-primary" value="Login">Login</button>
    <input type="hidden" name="next" value="{{ next }}" />
  </form>

  {# Assumes you setup the password_reset view in your URLconf #}
  <p>
    <a href="{% url 'password_reset' %}" class="btn btn-secondary">Lost password?</a>
  </p>
</div>
 <div class="social">
   <ul>
     <li class="google">
       <a href="{% url "social:begin" "google-oauth2" %}">Login with Google</a>
     </li>
   </ul>
</dvi>
{% endblock %}
