{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

{% if validlink %}
<h2>Please enter (and confirm) your new password.</h2>

<form action="" method="post">
  {% csrf_token %}
  {{ form|crispy }}
  <button type="submit" class="btn btn-primary" value="Change my password">Change my password</button>
</form>
{% else %}
<h1>Password reset failed</h1>
<p class="alert alert-info" role="alert">
  The password reset link was invalid, possibly because it has already been used. Please request a new password reset.
</p>
{% endif %}

{% endblock %}
