{% extends "blog/base.html" %}
{% load blog_tags %}
{% load crispy_forms_tags %}
{% block title %}Search{% endblock %}

{% block content %}
  {% if query %}
    <h1>Posts containing "{{ query }}"</h1>
    <h3>
      {% with results.count as total_results %}
        Found {{ total_results }} result{{ total_results|pluralize }}
      {% endwith %}
    </h3>

    {% for post in results %}
      <div class="card border-secondary mb-1" style="background-color:LightGray;">
        <div class="header">
          <h4>
            <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
          </h4>
        </div>

        <div class="card-body text-dark">
          {{ post.body|markdown|truncatewords_html:5 }}
        </div>
      </div>

    {% endfor %}
    <div>
      <a href="{% url "blog:post_search" %}" class="btn btn-primary">Search again</a>
    </div>
  {% else %}
   <h1>Search for posts</h1>
   <form method="get">
     {{ form|crispy }}
     <button type="submit" class="btn btn-primary" value="Search">Search</button>
   </form>
  {% endif %}

{% endblock %}
